<div class="main-page keys">
    <section id="bg-image">
        <div class="header">
            <h1>Scrabble</h1>
        </div>
        <!-- <img src="https://bit.ly/3m206ss" class="title" alt="Logo Scrabble" /> -->
        <div class="keys">
            <button class="button1" mat-raised-button color="second" style="background-color: bisque" (click)="setClassicRules()">
                Scrabble classique
            </button>
            <button class="button2" mat-raised-button color="second" style="background-color: bisque" (click)="setLOG2990()">Scrabble LOG2990</button>
            <button class="button3" mat-raised-button color="second" style="background-color: bisque" (click)="openDialogHighScores()">
                Meilleurs scores
            </button>
            <!-- <button mat-raised-button color="primary" routerLink="/game">Jouer!</button> -->
        </div>

        <div class="footer-item">
            <h4 class="team-name">Équipe #203</h4>
            <p>Manal Haboussi , Marc Assef , Oussama Chobah , Moussa Daoud , Sanmar Simon</p>
        </div>
    </section>
</div>
