.affichage-box-container {
    height: 73vh;
    width: 40vh;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
    overflow-y: auto;
}

.commande-input {
    width: 43vh;
}
.error {
    color: red;
}
.command {
    color: green;
}

div[type='joueur'] {
    color: green;
}
div[type='jv'] {
    color: blue;
}
div[type='systeme'] {
    color: red;
}
div[show='false']{
    display: none;
}
